<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>LIB360</title>
	<!-- Favicon -->
	<link rel="shortcut icon" href="~/Content/images/favicon.ico" />
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
	<!-- Typography CSS -->
	<link rel="stylesheet" href="~/Content/css/typography.css">
	<!-- Style CSS -->
	<link rel="stylesheet" href="~/Content/css/style.css">
	<!-- Responsive CSS -->
	<link rel="stylesheet" href="~/Content/css/responsive.css">
</head>
<body>
	<!-- loader Start -->
	<div id="loading">
		<div id="loading-center">
		</div>
	</div>
	<!-- loader END -->
	<!-- Wrapper Start -->
	<div class="wrapper">
		<div class="container p-0">
			<div class="row no-gutters height-self-center">
				<div class="col-sm-12 text-center align-self-center">
					<div class="iq-error position-relative">
						<img src="~/Content/images/error/500.png" class="img-fluid iq-error-img" alt="">
						<h1 class="text-in-box">500</h1>
						<h2 class="mb-0">Oops! Esta página no está funcionando.</h2>
						<p>Internal Server Error.</p>
						<a class="btn btn-primary mt-3" href="index.html"><i class="ri-home-4-line"></i>Back to Home</a>

					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Wrapper END -->
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="~/Content/js/jquery.min.js"></script>
	<script src="~/Content/js/popper.min.js"></script>
	<script src="~/Content/js/bootstrap.min.js"></script>
	<!-- Appear JavaScript -->
	<script src="~/Content/js/jquery.appear.js"></script>
	<!-- Countdown JavaScript -->
	<script src="~/Content/js/countdown.min.js"></script>
	<!-- Counterup JavaScript -->
	<script src="~/Content/js/waypoints.min.js"></script>
	<script src="~/Content/js/jquery.counterup.min.js"></script>
	<!-- Wow JavaScript -->
	<script src="~/Content/js/wow.min.js"></script>
	<!-- Apexcharts JavaScript -->
	<script src="~/Content/js/apexcharts.js"></script>
	<!-- Slick JavaScript -->
	<script src="~/Content/js/slick.min.js"></script>
	<!-- Select2 JavaScript -->
	<script src="~/Content/js/select2.min.js"></script>
	<!-- Owl Carousel JavaScript -->
	<script src="~/Content/js/owl.carousel.min.js"></script>
	<!-- Magnific Popup JavaScript -->
	<script src="~/Content/js/jquery.magnific-popup.min.js"></script>
	<!-- Smooth Scrollbar JavaScript -->
	<script src="~/Content/js/smooth-scrollbar.js"></script>
	<!-- lottie JavaScript -->
	<script src="~/Content/js/lottie.js"></script>
	<!-- Style Customizer -->
	<script src="~/Content/js/style-customizer.js"></script>
	<!-- Chart Custom JavaScript -->
	<script src="~/Content/js/chart-custom.js"></script>
	<!-- Custom JavaScript -->
	<script src="~/Content/js/custom.js"></script>
</body>
</html>
