@model Lib360.Prestamo
<div class="modal-header">
	<h4 class="modal-title">Marcar como regresado</h4>
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
	<p>¿Está seguro de marcar como regresado?</p>
	<p class="text-warning"><small>Esta acción no se puede deshacer.</small></p>
</div>


@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="modal-footer">
		<input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
		<input type="submit" class="btn btn-primary" value="Marcar como regresado">
	</div>
}
