@{
	ViewBag.Title = "";
}
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LIB360</title>
	
</head>
<!-- Page Content  -->
<div id="content-page" class="content-page">
	<div class="container-fluid">
		<div class="row content-body">
			<div class="col-lg-12">
				<div class="iq-card iq-card-block iq-card-stretch iq-card-height iq-bg-danger">
					<div class="iq-card-body box iq-box-relative">
						<div class="box-image float-right">
							<img class="rounded img-fluid" src="~/Content/images/page-img/37.png" alt="profile">
						</div>
						<h4 class="d-block mb-3 text-black">Bienvenido</h4>
						<p class="d-inline-block welcome-text text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate facilisis velit, vitae fermentum nulla ultrices et.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-12 row m-0 p-0">
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
						<div class="iq-card-body">
							<div class="icon iq-icon-box iq-bg-primary rounded" data-wow-delay="0.2s">
								<i class="ri-book-line"></i>
							</div>
							<div class="mt-4">
								<h5 class="text-black text-uppercase">
									Libros alquilados
								</h5>
								<h3 class="d-flex text-primary"> 53<i class="ri-arrow-up-line"></i></h3>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 col-lg-6">
					<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
						<div class="iq-card-body">
							<div class="icon iq-icon-box iq-bg-danger rounded" data-wow-delay="0.2s">
								<i class="ri-book-mark-line"></i>
							</div>
							<div class="mt-4">
								<h5 class="text-black text-uppercase">LIBROS DISPONIBLES</h5>
								<h3 class="d-flex text-danger"> 128<i class="ri-arrow-down-line"></i></h3>
							</div>

						</div>
					</div>
				</div>

			</div>

			<div class="col-lg-12">
				<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
					<div class="iq-card-header d-flex justify-content-between">
						<div class="iq-header-title">
							<h4 class="card-title">Renta de libros</h4>
						</div>
						<div class="iq-card-header-toolbar d-flex align-items-center">
							<div class="dropdown">
								<span class="dropdown-toggle dropdown-bg iq-bg-danger" id="dropdownMenuButton1" data-toggle="dropdown">
									2023<i class="ri-arrow-down-s-line ml-1 text-danger"></i>
								</span>

							</div>
						</div>
					</div>
					<div class="iq-card-body">
						<div id="report-chart-02" style="min-height: 150px;"></div>
					</div>
				</div>
			</div>


			<div class="col-lg-12">
				<div class="iq-card iq-card-block iq-card-stretch iq-card-height">
					<div class="iq-card-header d-flex justify-content-between">
						<div class="iq-header-title">
							<h4 class="card-title">Cantidad de libros disponibles</h4>
						</div>
					</div>
					<div class="iq-card-body">
						<div id="report-chart-04"></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>